# Enable debugging
DOOGLE_DEBUG=true

# Wakeword library (openwakeword or porcupine)
WAKEWORD_LIBRARY=openwakeword

# Porcupine access key
PORCUPINE_ACCESS_KEY=

# Set the API host
API_HOST=192.168.0.131

# Initial prompt for the LLM sent with all requests
BASE_PROMPT="This is a chat between a user and Doogle. Doogle is an AI home assistant. Some of the things Doogle can do is answer general knowledge questions, control home appliances, play radio stations and set timers."